:root {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: monospace;
}

html,
body,
#root {
  margin: 0;
}

.nav {
  background: rgb(51, 72, 123);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gal {
  img {
    width: 100%;
  }
}
